.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* begin local global styles */
.unstyledButton {
  border: 0;
  outline: unset !important;
  background: none;
  padding: 0;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  overflow: visible;
  text-transform: none;
  -webkit-appearance: button;
  cursor: pointer;
  color: unset;
}
/* begin local global styles */


/* begin local custom styles */
.App {
  background-color:#051a45;
  min-height: 100vh;
}

.videoList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.videoList > div {
  display: flex;
  flex-basis: 25%;
}

.videoList > div button {
  width: 100%;
  margin: 0.5rem;
  padding: 0.5rem;
  border: 2px solid white;
  border-radius: 0.5rem;
  color: white;
  cursor: pointer;
  z-index: 1;
}
/* end local custom styles */
